name: CI
on:  
  push:
    tags:
      - '*'
permissions:
  contents: write

jobs:
  prerelease:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh release create ${{ github.ref_name }} --title ${{ github.ref_name }}
  setup:
    runs-on: ubuntu-latest
    needs: prerelease
    steps:
      - name: Init
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          echo "Hello, world!" > README.md
          echo "Test" > test.txt
          gh release upload ${{ github.ref_name }} README* --clobber
  rel:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Init
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          echo "Hello, world!" > README.md
          echo "Test" > test.txt
          gh release upload ${{ github.ref_name }} test* --clobber
      - name: Output
        id: publish
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          assets=$(gh release view ${{ github.ref_name }} --json assets --jq '.assets')
          echo "assets=$assets"
          echo "assets=$assets" >> $GITHUB_OUTPUT
    outputs:
      assets: ${{ steps.publish.outputs.assets }}
  debug:
    runs-on: ubuntu-latest
    needs: rel
    steps:
      - name: Debug
        run: |
          echo ${{ needs.rel.outputs.assets }}