name: CI
on:  
  push:
    tags:
      - '*'
permissions:
  contents: write

jobs:
  prerelease:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh release create --draft ${{ github.ref_name }} --title ${{ github.ref_name }}
  setup:
    runs-on: ubuntu-latest
    needs: prerelease
    steps:
      - name: Init
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          echo "Hello, world!" > README.md
          echo "Test" > test.txt
          gh release upload ${{ github.ref_name }} README*
  rel:
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Init
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          echo "Hello, world!" > README.md
          echo "Test" > test.txt
          gh release upload ${{ github.ref_name }} test*
          gh release edit ${{ github.ref_name }} --draft=false
      - name: Output
        id: publish
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh release view ${{ github.ref_name }} --json assets
  debug:
    runs-on: ubuntu-latest
    needs: rel
    steps:
      - name: Debug
        run: |
          echo ${{ needs.rel.outputs.assets }}