name: CI
on:  
  push:
    tags:
      - '*'
permissions:
  contents: write

jobs:
  prerelease:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          gh release create --draft ${{ github.ref_name }} --title ${{ github.ref_name }}
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Init
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          echo "Hello, world!" > README.md
          echo "Test" > test.txt
          gh release upload ${{ github.ref_name }} README.md
  rel:
    runs-on: ubuntu-latest
    steps:
      - name: Init
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: |
          echo "Hello, world!" > README.md
          echo "Test" > test.txt
          gh release upload ${{ github.ref_name }} test.txt
          gh release edit ${{ github.ref_name }} --draft=false