name: CI
on:  
  push:
    tags:
      - '*'

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Init
        run: |
          echo "Hello, world!" > README.md
          echo "Test" > test.txt
      - name: Release-1
        uses: softprops/action-gh-release@v2
        with:
          files: README.md
      - name: Release-2
        uses: softprops/action-gh-release@v2
        with:
          files: test.txt